<div class="container">
<div class="container">

  <h1 align="center">Form</h1>
  <h3 style="color: dodgerblue">Basic Information</h3>

<table *ngFor="let item of basicinfo let i=index">
     <tr>
       <td>Registration Id</td>
       <td>{{item.id}}</td>
       <td>Employee Number</td>
       <td>{{item.basicinfo_employee_number}}</td>

    </tr>

    <tr>
      <td>Employee Title</td>
      <td>{{item.basicinfo_employee_title}}</td>
      <th>Employee Name</th><td>{{item.basicinfo_employee_name}}</td>

      </tr>

         <tr>
          <th>Employee Address</th><td>{{item.basicinfo_employee_address}}</td>
          <th>First Name</th>
          <td>{{item.basicinfo_firstname}}</td>

        </tr>

        <tr>
          <th>Middle Name</th>
          <td>{{item.basicinfo_middlename}}</td>
            <th>Last Name</th>
            <td>{{item.basicinfo_lastname}}</td>

          </tr>

          <tr>
            <th>Initial</th>
            <td>{{item.basicinfo_initial}}</td>
            <td>Gender</td>
            <td>{{item.basicinfo_gender}}</td>

          </tr>

          <tr>
            <td>Date of Birth</td>
            <td>{{item.basicinfo_dob |date:'longDate'}}</td>
            <td>Age</td>
            <td>{{item.basicinfo_age}}</td>
          </tr>
          <tr>
            <td>Official Phone No</td>
            <td>{{item.basicinfo_official_phone}}</td>
            <td>Mobile Number</td>
            <td>{{item.basicinfo_mobile}}</td>

          </tr>
          <tr>
            <td>FAX</td>
            <td>{{item.basicinfo_fax}}</td>
            <td>Official Email</td>
            <td>{{item.basicinfo_official_email}}</td>

          </tr>
          <tr>
            <td>Personal Email </td>
            <td>{{item.basicinfo_personal_email}}</td>
            <td>Personal Email 2</td>
            <td>{{item.basicinfo_personal2_email}}</td>

          </tr>
          <tr>
            <td>Personal Email 3</td>
            <td>{{item.basicinfo_personal3_email}}</td>
            <td>Image</td>
            <td>< img src="{{item.basicinfo_file}}" ></td>
          </tr>


          <div>&nbsp;&nbsp;</div>

                  <h3 style="color: dodgerblue;" >Personal Details</h3>

          <tr>
            <td>Birth Place</td>
            <td>{{item.personalDetails_birthplace}}</td>
            <td>Religion</td>
            <td>{{item.personalDetails_religion}}</td>
          </tr>

          <tr>
            <td>Caste</td>
            <td>{{item.personalDetails_caste}}</td>
            <td>Domicile</td>
            <td>{{item.personalDetails_domicile}}</td>
          </tr>
          <tr>
            <td>Nationality</td>
            <td>{{item.personalDetails_nationality}}</td>
            <td>Voter Id</td>
            <td>{{item.personalDetails_voterid}}</td>
          </tr>

          <tr>
            <td>Pan Id</td>
            <td>{{item.personalDetails_pan}}</td>
            <td>Aadhaar Id</td>
            <td>{{item.personalDetails_aadhaar}}</td>
          </tr>
          <tr>
            <td>Marriage Status</td>
            <td>{{item.personalDetails_marriage_status}}</td>
            <td>No of Children</td>
            <td>{{item.personalDetails_no_children}}</td>
          </tr>

          <tr>
            <td>Marriage Date</td>
            <td>{{item.personalDetails_marriage_date|date:'longDate'}}</td>
            <td>Spouse Name</td>
            <td>{{item.personalDetails_spouse_name}}</td>
          </tr>


          <div>&nbsp;&nbsp;</div>

          <h3 style="color: dodgerblue;">Bank Details</h3>

          <tr>
            <td>Bank Name</td>
            <td>{{item.bankDetails_bank_name}}</td>
            <td>Account Type</td>
            <td>{{item.bankDetails_account_type}}</td>
          </tr>
          <tr>
            <td>Account No</td>
            <td>{{item.bankDetails_account_number}}</td>
            <td>Payment Type</td>
            <td>{{item.bankDetails_peyment_type}}</td>
          </tr>
          <tr>
            <td>Branch Detail</td>
            <td>{{item.bankDetails_branch_detail}}</td>
            <td>IFSC Code</td>
            <td>{{item.bankDetails_ifsc}}</td>
          </tr>
          <tr>
            <td>Reimbursement Name</td>
            <td>{{item.bankDetails_reimbursement_name}}</td>
            <td>Reimbursement Number</td>
            <td>{{item.bankDetails_reimbursement_number}}</td>
          </tr>
</table>
<div>&nbsp;</div>
</div>



<div>&nbsp;&nbsp;</div>


<div class="container">
<h3 style="color: dodgerblue">Permanent Details</h3>

<table *ngFor="let item of addressDetails; let i=index">
     <tr>
       <td>Permanent Address</td>
       <td>{{item.addressDetails_address}}</td>
        <td>City</td>
        <td>{{item.addressDetails_city}}</td>
    </tr>
    <tr>
      <td>State</td>
      <td>{{item.addressDetails_state}}</td>
      <td>Country</td>
      <td>{{item.addressDetails_country}}</td>
    </tr>

    <tr>
      <td>District</td>
      <td>{{item.addressDetails_district}}</td>
      <td>ZIP Code</td>
      <td>{{item.addressDetails_zip}}</td>
    </tr>

    <tr>
      <td>Mobile No 1</td>
      <td>{{item.addressDetails_phone1}}</td>
      <td>Mobile No 2</td>
      <td>{{item.addressDetails_phone2}}</td>
    </tr>
    <tr>
      <td>Mobile/FAX</td>
      <td>{{item.addressDetails_mobile_fax}}</td>
      <td>Personal Email</td>
      <td>{{item.addressDetails_personal_email}}</td>
    </tr>

    <div>&nbsp;&nbsp;</div>
    <h3 style="color: dodgerblue">Current Details</h3>

    <tr>
      <td>Current Address</td>
      <td>{{item.addressDetails_address1}}</td>
      <td>City</td>
      <td>{{item.addressDetails_city1}}</td>
    </tr>

    <tr>
      <td>State</td>
      <td>{{item.addressDetails_state1}}</td>
      <td>Country</td>
      <td>{{item.addressDetails_country1}}</td>
    </tr>

    <tr>
      <td>District</td>
      <td>{{item.addressDetails_district1}}</td>
      <td>ZIP Code</td>
      <td>{{item.addressDetails_zip1}}</td>
    </tr>
    <tr>
      <td>Mobile No 1</td>
      <td>{{item.addressDetails_phone11}}</td>
      <td>Mobile No 2</td>
      <td>{{item.addressDetails_phone21}}</td>
    </tr>
    <tr>
      <td>Mobile/FAX</td>
      <td>{{item.addressDetails_mobile_fax1}}</td>
      <td>Personal Email</td>
      <td>{{item.addressDetails_personal_email1}}</td>
    </tr>

</table>
<div>&nbsp;</div>
</div>




<div>&nbsp;&nbsp;</div>

  <div class="container">
  <h3 style="color: dodgerblue">Qualification Details</h3>

    <table>

  <tr>
    <th>Qualification</th>
    <th>Institute</th>
    <th>Passing Year</th>
    <th>Score</th>
    <th>Score</th>
  </tr>

  <tr *ngFor="let item of qualificationDetails; let i=index">
    <td>{{item.qualification_qualification}}</td>
    <td>{{item.qualification_institute}}</td>
    <td>{{item.qualification_passing_year}}</td>
    <td>{{item.qualification_score}}</td>
    <td>{{item.qualification_qualification_area}}</td>
  </tr>
    </table>
    <div>&nbsp;</div>
  </div>


  <div>&nbsp;&nbsp;</div>

  <div class="container">
  <h3 style="color: dodgerblue">Employment Details</h3>
  <table >
    <tr>
      <th>From Date</th>
      <th>To Date</th>
      <th>Compony Name</th>
      <th>Designation</th>
      <th>Relevent</th>
      <th>Non-Relevent</th>
    </tr>

    <tr *ngFor="let item of employmentDetails; let i=index">
      <td>{{item.employment_fromDate|date:'longDate'}}</td>
      <td>{{item.employment_toDate|date:'longDate'}}</td>
      <td>{{item.employment_company}}</td>
      <td>{{item.employment_designation}}</td>
      <td>{{item.employment_relevant}}</td>
      <td>{{item.employment_nrelevant}}</td>
    </tr>

  </table>
  <div>&nbsp;</div>
</div>




<div>&nbsp;&nbsp;</div>

<div class="container">
<h3 style="color: dodgerblue">Skill Details</h3>
<table >
<tr>
  <th>Skill Category</th>
  <th>Skill</th>
  <th>Skill Level</th>
  <th>Is Current Working</th>
  <th>Exprience</th>
  <th>Remarks</th>
</tr>
<tr *ngFor="let item of skillDetails; let i=index">
  <td>{{item.skill_category}}</td>
  <td>{{item.skill}}</td>
  <td>{{item.skill_level}}</td>
  <td>{{item.iscurrent}}</td>
  <td>{{item.experience}}</td>
  <td>{{item.remarks}}</td>
</tr>
</table>
<div>&nbsp;</div>
</div>


<div>&nbsp;&nbsp;</div>
<div>&nbsp;&nbsp;</div>
<div>&nbsp;&nbsp;</div>


<div class="container desc">
<div class="row centered">
  <div class="col-lg-12">
    <div *ngFor="let item of basicinfo let i=index">
    <button type="submit" class="btn btn primary" routerLink="/animation">Submit</button>&nbsp;&nbsp;
    <button type="button" class="btn btn primary"(click)="deleteBasicForm(item)" routerLink="/animation">Delete</button>&nbsp;&nbsp;
    <button type="button" class="btn btn primary" (click)="onEditForm(item)">Edit</button>
    </div>
  </div>
</div>


<div>&nbsp;&nbsp;</div>
<div>&nbsp;&nbsp;</div>
<div>&nbsp;&nbsp;</div>
<div>&nbsp;&nbsp;</div>

</div>
