
<!--<app-demo></app-demo>-->
<!--app-todos></app-todos>-->
<!--<app-register></app-register>
<app-login></app-login>-->
<!--<app-dragdrop></app-dragdrop>-->
<!--<app-dragdropbox></app-dragdropbox>-->
<!--<app-tomo></app-tomo>-->
<!-- <app-table-index></app-table-index> -->
<!--<app-bindingexample></app-bindingexample>-->
<!--<app-switchcase></app-switchcase>-->
<!-- <app-parentsandchildcomm></app-parentsandchildcomm> -->
<!-- <app-parent></app-parent> -->

 <app-header></app-header>
 <router-outlet></router-outlet>


<!-- <app-footer></app-footer> -->
